## Week 7 Independent Lab: Data Manipulation
Author: Aerionna Skrutvold  
Course: BGEN632 Grad. Intro to Python  

This notebook contains code for assessing the condition of the healthcare system in California. The program primarily makes use of pandas DataFrames and the CaliforniaHospitalData.csv plus CaliforniaHospital_Personnel.yxy files contained within the data folder.

### Import Modules

In [1]:
import os
import pandas as pd
import numpy as np

### Set Working Directory

In [2]:
os.chdir("C:/Users/gcassist/Desktop/MSBA/Spring 25/Python/week7labs/data")

### Access Data

In [4]:
CA_Hosp = pd.read_csv("CaliforniaHospitalData.csv") #open California Hospital data

In [41]:
CA_Personnel = pd.read_csv("CaliforniaHospitalData_Personnel.txt", sep="\t", engine="python", header=0) #open California Hospital Personnel data

## Inspect the Data

In [42]:
CA_Hosp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   HospitalID   61 non-null     object
 1   Name         61 non-null     object
 2   Zip          61 non-null     object
 3   Website      61 non-null     object
 4   TypeControl  61 non-null     object
 5   Teaching     61 non-null     object
 6   DonorType    61 non-null     object
 7   NoFTE        61 non-null     float64
 8   NetPatRev    61 non-null     float64
 9   InOperExp    61 non-null     float64
 10  OutOperExp   61 non-null     float64
 11  OperRev      61 non-null     int64
 12  OperInc      61 non-null     int64
 13  AvlBeds      61 non-null     int64
dtypes: float64(4), int64(3), object(7)
memory usage: 6.8+ KB

In [43]:
CA_Personnel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HospitalID     64 non-null     int64
 1   Work_ID        64 non-null     int64
 2   LastName       64 non-null     object
 3   FirstName      64 non-null     object
 4   Gender         64 non-null     object
 5   PositionID     64 non-null     int64
 6   PositionTitle  64 non-null     object
 7   Compensation   64 non-null     int64
 8   MaxTerm        64 non-null     int64
 9   StartDate      64 non-null     object
 10  Phone          64 non-null     object
 11  Email          64 non-null     object
dtypes: int64(5), object(7)
memory usage: 6.1+ KB

### Merging the Data

In [45]:
CA_Hosp['HospitalID'] = CA_Hosp['HospitalID'].astype(str) # Change both column types to strings
CA_Personnel['HospitalID'] = CA_Personnel['HospitalID'].astype(str)

In [46]:
merged_data = CA_Personnel.merge(CA_Hosp, on='HospitalID', how='inner') # Merge the data

In [47]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HospitalID     61 non-null     object
 1   Work_ID        61 non-null     int64
 2   LastName       61 non-null     object
 3   FirstName      61 non-null     object
 4   Gender         61 non-null     object
 5   PositionID     61 non-null     int64
 6   PositionTitle  61 non-null     object
 7   Compensation   61 non-null     int64
 8   MaxTerm        61 non-null     int64
 9   StartDate      61 non-null     object
 10  Phone          61 non-null     object
 11  Email          61 non-null     object
 12  Name           61 non-null     object
 13  Zip            61 non-null     object
 14  Website        61 non-null     object
 15  TypeControl    61 non-null     object
 16  Teaching       61 non-null     object
 17  DonorType      61 non-null     object
 18  NoFTE          61 non-null     float64
 19  NetPatRev      61 non-null     float64
 20  InOperExp      61 non-null     float64
 21  OutOperExp     61 non-null     float64
 22  OperRev        61 non-null     int64
 23  OperInc        61 non-null     int64
 24  AvlBeds        61 non-null     int64
dtypes: float64(4), int64(7), object(14)
memory usage: 12.0+ KB

### Remove Columns

In [48]:
merged_data.drop(merged_data.columns[[1,5,14]], axis = 1) # dropping `Work_ID` `PositionID` `Website`

,HospitalID,LastName,FirstName,Gender,PositionTitle,Compensation,MaxTerm,StartDate,Phone,Email,...,TypeControl,Teaching,DonorType,NoFTE,NetPatRev,InOperExp,OutOperExp,OperRev,OperInc,AvlBeds
0,12145,Rodriguez,Jose,M,Regional Representative,46978,4,1/1/2009,405-744-2238,jose.rodriguez@edihealth.com,...,Non Profit,Small/Rural,Charity,345.0,136156.69130,3.344754e+07,2.034860e+07,53351748,-444391,99
1,45771,Rodriguez,Jose,M,Regional Representative,46978,4,1/1/2011,405-744-2238,jose.rodriguez@edihealth.com,...,District,Small/Rural,Charity,219.0,52983.85792,8.074273e+06,1.299607e+07,19484351,-1585993,76
2,43353,Rodriguez,Jose,M,Safety Inspection Member,23987,2,1/1/2011,405-744-2238,jose.rodriguez@edihealth.com,...,Non Profit,Small/Rural,Charity,55.0,14172.24044,1.436471e+06,3.989894e+06,5235317,-191048,12
3,17718,Charles,Kenneth,M,Regional Representative,46978,4,1/1/2009,405-744-3412,kenneth.charles@edihealth.com,...,Non Profit,Small/Rural,Charity,215.5,123480.27050,2.200350e+07,2.241005e+07,45769108,1355554,60
4,17736,Charles,Kenneth,M,Acting Director,248904,8,1/1/2006,405-744-3412,kenneth.charles@edihealth.com,...,Non Profit,Small/Rural,Charity,524.5,295579.23500,5.669283e+07,5.026417e+07,109748000,2791000,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,33283,Frank,Vernon,M,Regional Representative,46978,4,1/1/2012,801-687-2845,vernon.frank@ihc.com,...,Non Profit,Small/Rural,Charity,353.0,173227.48630,2.864761e+07,3.962144e+07,64464737,-3804313,25
57,33242,Frank,Vernon,M,Safety Inspection Member,23987,2,1/1/2011,801-687-2845,vernon.frank@ihc.com,...,Non Profit,Small/Rural,Charity,318.0,161745.22400,3.064671e+07,3.027761e+07,59669536,-1254783,42
58,46342,Tanner,Patricia,F,Acting Director,248904,8,1/1/2011,801-687-7877,patricia.tanner@prohealth.net,...,District,Small/Rural,Charity,160.0,65792.42623,1.534131e+07,7.916540e+06,24164520,906670,131
59,43437,Tanner,Patricia,F,Regional Representative,46978,4,1/1/2010,801-687-7877,patricia.tanner@prohealth.net,...,District,Small/Rural,Charity,121.0,17566.92896,2.890228e+06,4.578888e+06,6677960,-791156,37
60,29823,Tanner,Patricia,F,Acting Director,248904,8,1/1/2009,801-687-7877,patricia.tanner@prohealth.net,...,Non Profit,Small/Rural,Charity,168.0,51726.49180,9.022366e+06,1.040251e+07,19445901,21025,48

### Exporting the Data

In [51]:
hospital_data_new = merged_data[((merged_data.Teaching == 'Small/Rural') & (merged_data.AvlBeds >= 15)) != (merged_data.OperRev >= 0)] # Select only those hospitals that are *Small/Rural* and have 15 or more available beds. Exclude hospitals with a negative operating income.

In [53]:
hospital_data_new.to_csv("C:/Users/gcassist/Desktop/MSBA/Spring 25/Python/week7labs/data/hospital_data_new.txt", sep='\t') #Export your data as tab-delimited and name the file `hospital_data_new.txt`.

### Renaming Columns

In [61]:
hospital_data_mine = pd.read_csv("hospital_data_new.txt", sep="\t", index_col=0) # Access my new hospital data

In [62]:
hospital_data_mine.info() # Check out the data

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 2 to 53
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HospitalID     18 non-null     int64
 1   Work_ID        18 non-null     int64
 2   LastName       18 non-null     object
 3   FirstName      18 non-null     object
 4   Gender         18 non-null     object
 5   PositionID     18 non-null     int64
 6   PositionTitle  18 non-null     object
 7   Compensation   18 non-null     int64
 8   MaxTerm        18 non-null     int64
 9   StartDate      18 non-null     object
 10  Phone          18 non-null     object
 11  Email          18 non-null     object
 12  Name           18 non-null     object
 13  Zip            18 non-null     object
 14  Website        18 non-null     object
 15  TypeControl    18 non-null     object
 16  Teaching       18 non-null     object
 17  DonorType      18 non-null     object
 18  NoFTE          18 non-null     float64
 19  NetPatRev      18 non-null     float64
 20  InOperExp      18 non-null     float64
 21  OutOperExp     18 non-null     float64
 22  OperRev        18 non-null     int64
 23  OperInc        18 non-null     int64
 24  AvlBeds        18 non-null     int64
dtypes: float64(4), int64(8), object(13)
memory usage: 3.7+ KB

In [68]:
hospital_data_mine.rename(columns = {'NoFTE': 'FullTimeCount'}, inplace=True) # Rename columns in the new DataFrame.
hospital_data_mine.rename(columns = {'NetPatRev':'NetPatientRevenue'}, inplace=True)
hospital_data_mine.rename(columns = {'InOperExp':'InpatientOperExp'}, inplace=True)
hospital_data_mine.rename(columns = {'OutOperExp':'OutpatientOperExp'}, inplace=True)
hospital_data_mine.rename(columns = {'OperRev':'Operating_Revenue'}, inplace=True)
hospital_data_mine.rename(columns = {'OperInc':'Operating_Income'}, inplace=True)

In [69]:
hospital_data_mine.columns

Index(['HospitalID', 'Work_ID', 'LastName', 'FirstName', 'Gender',
       'PositionID', 'PositionTitle', 'Compensation', 'MaxTerm', 'StartDate',
       'Phone', 'Email', 'Name', 'Zip', 'Website', 'TypeControl', 'Teaching',
       'DonorType', 'FullTimeCount', 'NetPatientRevenue', 'InpatientOperExp',
       'OutpatientOperExp', 'Operating_Revenue', 'Operating_Income',
       'AvlBeds'],
      dtype='object')

### Inserting Records

In [71]:
hospital_data_mine.head(5) # Check out first 5 rows of data to select two existing hospitals

,HospitalID,Work_ID,LastName,FirstName,Gender,PositionID,PositionTitle,Compensation,MaxTerm,StartDate,...,TypeControl,Teaching,DonorType,FullTimeCount,NetPatientRevenue,InpatientOperExp,OutpatientOperExp,Operating_Revenue,Operating_Income,AvlBeds
2,43353,756481,Rodriguez,Jose,M,4,Safety Inspection Member,23987,2,1/1/2011,...,Non Profit,Small/Rural,Charity,55.0,1.417224e+04,1.436471e+06,3.989894e+06,5235317,-191048,12
8,35512,625519,Brown,Marietta,F,1,Regional Representative,46978,4,1/1/2009,...,Non Profit,Teaching,Alumni,3500.0,1.710382e+06,4.149948e+08,2.079907e+08,643041802,20056379,606
11,22460,380668,Smith,Mary,F,4,Safety Inspection Member,23987,2,1/1/2012,...,Non Profit,Teaching,Alumni,6392.0,4.333934e+06,9.289621e+08,6.621559e+08,1650391999,59273999,445
15,31032,310431,Dong,HongWei,F,4,Safety Inspection Member,23987,2,1/1/2012,...,Non Profit,Teaching,Alumni,5218.0,1.187022e+06,2.912481e+08,1.093286e+08,439084836,38508125,462
17,38900,664583,Paanua,Kaaluai,M,1,Regional Representative,46978,4,1/1/2011,...,Non Profit,Teaching,Alumni,8000.0,4.662582e+06,1.285631e+09,4.616758e+08,1912179417,164872413,909

In [95]:
new_rows = pd.DataFrame({'HospitalID':[43353,38900],
                         'Work_ID':[111111,111111],
                         'LastName':['Skrutvold', 'Skrutvold'],
                         'FirstName':['Aerionna', 'Aerionna'],
                         'Gender':['F','F'],
                         'PositionID':[1,1],
                         'PositionTitle':['State Board Representative', 'State Board Representative'],
                         'Compensation': [89473,89473],
                         'MaxTerm':[3,3],
                         'StartDate':['04/13/2025', '04/13/2025'],
                         'TypeControl':['Non Profit', 'Non Profit'],
                         'Teaching':['Teaching', 'Teaching'],
                         'DonorType':['Charity', 'Alumni'],
                         'FullTimeCount':[55.0,8000.0],
                         'NetPatientRevenue':[1.417224e+04,4.662582e+06],
                         'InpatientOperExp':[1.436471e+06,1.285631e+09],
                         'OutpatientOperExp': [3.989894e+06	, 4.616758e+08],
                         'Operating_Revenue': [5235317,1912179417],
                         'Operating_income': [-191048,164872413],
                         'AvlBeds':[12, 909]},
                         index = [19, 20]
                                         )

In [96]:
new_merge = pd.concat([hospital_data_mine, new_rows], ignore_index=True) # Save the DataFrame as `new_merge`.

In [97]:
print(len(hospital_data_mine)) # Confirm new rows were added
print(len(new_merge))

18
20

### Filtering Data

In [98]:
Large_nonprofits = new_merge[((new_merge.TypeControl == 'Non Profit') & (new_merge.FullTimeCount > 250)) | (new_merge.NetPatientRevenue < 109000)]
# Select all hospitals that are non-profit with more than 250 employees, unless the net patient revenue is smaller than $109,000.

In [99]:
Large_nonprofits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 0 to 19
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HospitalID         14 non-null     int64
 1   Work_ID            14 non-null     int64
 2   LastName           14 non-null     object
 3   FirstName          14 non-null     object
 4   Gender             14 non-null     object
 5   PositionID         14 non-null     int64
 6   PositionTitle      14 non-null     object
 7   Compensation       14 non-null     int64
 8   MaxTerm            14 non-null     int64
 9   StartDate          14 non-null     object
 10  Phone              12 non-null     object
 11  Email              12 non-null     object
 12  Name               12 non-null     object
 13  Zip                12 non-null     object
 14  Website            12 non-null     object
 15  TypeControl        14 non-null     object
 16  Teaching           14 non-null     object
 17  DonorType          14 non-null     object
 18  FullTimeCount      14 non-null     float64
 19  NetPatientRevenue  14 non-null     float64
 20  InpatientOperExp   14 non-null     float64
 21  OutpatientOperExp  14 non-null     float64
 22  Operating_Revenue  14 non-null     int64
 23  Operating_Income   12 non-null     float64
 24  AvlBeds            14 non-null     int64
 25  Operating_income   2 non-null      float64
dtypes: float64(6), int64(7), object(13)
memory usage: 3.0+ KB

In [100]:
Large_nonprofits2 = Large_nonprofits.drop(Large_nonprofits.columns[[1,2,3,4,5,6,7,8,9,10,11,12]], axis = 1) # Remove the columns containing employee information and save it as a new DataFrame.

In [101]:
Large_nonprofits2.columns

Index(['HospitalID', 'Zip', 'Website', 'TypeControl', 'Teaching', 'DonorType',
       'FullTimeCount', 'NetPatientRevenue', 'InpatientOperExp',
       'OutpatientOperExp', 'Operating_Revenue', 'Operating_Income', 'AvlBeds',
       'Operating_income'],
      dtype='object')

In [102]:
Regional_Reps = new_merge[(new_merge.PositionTitle == 'Regional Representatives') & (new_merge.Operating_Income > 100000)]
# select all the *Regional Representatives* who work at a hospital with operating income greater than $100,000. Save this as a new DataFrame.

### Convert Date-Time Data

In [103]:
new_merge.dtypes # check data types

HospitalID             int64
Work_ID                int64
LastName              object
FirstName             object
Gender                object
PositionID             int64
PositionTitle         object
Compensation           int64
MaxTerm                int64
StartDate             object
Phone                 object
Email                 object
Name                  object
Zip                   object
Website               object
TypeControl           object
Teaching              object
DonorType             object
FullTimeCount        float64
NetPatientRevenue    float64
InpatientOperExp     float64
OutpatientOperExp    float64
Operating_Revenue      int64
Operating_Income     float64
AvlBeds                int64
Operating_income     float64
dtype: object

In [105]:
new_merge['StartDate'] = pd.to_datetime(new_merge['StartDate']) # Converted State Data column to datetime datatype

In [106]:
new_merge.dtypes # Confirm your changes by outputting the data types for all columns.

HospitalID                    int64
Work_ID                       int64
LastName                     object
FirstName                    object
Gender                       object
PositionID                    int64
PositionTitle                object
Compensation                  int64
MaxTerm                       int64
StartDate            datetime64[ns]
Phone                        object
Email                        object
Name                         object
Zip                          object
Website                      object
TypeControl                  object
Teaching                     object
DonorType                    object
FullTimeCount               float64
NetPatientRevenue           float64
InpatientOperExp            float64
OutpatientOperExp           float64
Operating_Revenue             int64
Operating_Income            float64
AvlBeds                       int64
Operating_income            float64
dtype: object

In [107]:
new_merge['StartDate'].head(5) # output the first 5 records of the column(s) you converted.

0   2011-01-01
1   2009-01-01
2   2012-01-01
3   2012-01-01
4   2011-01-01
Name: StartDate, dtype: datetime64[ns]

### References

#### ChatGPT 
https://chatgpt.com/share/67fc3857-b2d8-8012-889a-fa5aac2331c8    
>>> In this independent assignment, I used ChatGPT to confirm functions not explicity shown in the tuturial, and to help me interpret warnings and errors I receieved in my Python code while working through it.